*{
    padding: 0px;
    margin: 0;
    font-family: monospace;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.container {
    background: white;
    width: 50%;
    box-shadow: 0 0 10px 0px gray;
    border-radius: 5px;
    padding: 100px;
}

.container ul {
    list-style: none;
}

ul li h5 {
    font-size: 1.5rem;
    box-shadow: 0 2px 5px 0px gray;
    padding: 10px 30px;
    border-radius: 50px;
    margin-top: 20px;
}

ul li p {
    font-size: 1.1rem;
    margin-left: 50px;
    padding: 7px;
}

.container input {
    padding: 7px;
    width: 100%;
    font-size: 1.2rem;
    border: none;
    border-bottom: 5px solid aliceblue;
    outline: none;
    padding-left: 30px;
}